body {
  background-color: #f8f8f8;
}

::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
span,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
a {
  font-family: serif;
}

/* css for all # .content */

#skills .content,
#services .content,
#portfolio .content,
#getintouch .content {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 24px;
}

#skills .content p,
#services .content p,
#portfolio .content p,
#getintouch .container h2 {
  font-weight: 300px;
  line-height: 24px;
  margin-bottom: 8px;
  color: #212529;
}

#skills .content h2,
#services .content h2,
#portfolio .content h2,
#getintouch .container h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 64px;
  margin-bottom: 8px;
  color: #1ab394;
}

/* css for header */

#header {
  background-color: #f8f8f8;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0 1px 2px 0 #ddd8d8;
  z-index: 100;
}

#header .container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

a {
  font-family: sans-serif;
  text-decoration: none;
  color: #4e4e4e;
  line-height: 24px;
}

#header .header-logo {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  color: #4e4e4e;
}

#header .header-logo a:hover {
  color: #1ab394;
  transition: 0.5s ease;
}

#header .header-logo span {
  color: #1ab394;
}

#header .header-menu {
  margin: auto 0;
}

#header .header-menu .menu {
  display: flex;
}

.menu-item {
  margin-left: 30px;
}

.menu-link:hover {
  color: #1ab394;
  transition: 0.5s ease;
}

#header .menu-item a:hover {
  transition: 0.5s ease;
}

/* css for hero-content */

#hero-content {
  padding: 80px 0;
  position: relative;
  top: 82px;
}

#hero-content .container {
  width: 75%;
  display: flex;
  margin: 0 auto;
  height: 450px;
}

#hero-content .content-text {
  width: 50%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero-content .content-text h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 64px;
  margin-bottom: 16px;
}

#hero-content .content-text h1 span {
  color: #1ab394;
}

#hero-content .content-text h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 38.8px;
}

#hero-content .content-text p {
  font-weight: 300px;
  line-height: 24px;
  margin: 24px 0;
  width: 400px;
  color: #4e4e4e;
}

#hero-content .content-text .button {
  padding: 10px 30px;
  font-weight: 300;
  line-height: 24px;
  width: 158px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #1ab394;
  color: white;
}

#hero-content .content-text .button:hover {
  background-color: #149e82;
  transition: 0.3s ease;
}

#hero-content .content-img img {
  width: 100%;
    height: 100%;
  border-radius: 50%;
  box-shadow: 2px 4px 7px #b3babb;

}

/* css for about */

#about {
  padding: 100px 0 48px 0;
}

#about .container {
  width: 75%;
  height: 355px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#about .about-content {
  width: 50%;
  padding: 0 15px;
}

#about .about-img{
  padding: 0 15px;
}
#about img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#about .about-content h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 52px;
  color: #149e82;
}

#about .about-content h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: #343a40;
  margin: 16px 0;
}

h5 span {
  color: #1ab394;
}

.about-content .persola-info {
  display: flex;
}

#about .persola-info .info {
  max-width: 50%;
  width: 225px;
}

#about .info p {
  margin-bottom: 16px;
  line-height: 24px;
  color: #4e4e4e;
}

#about .info span {
  color: #212529;
}

#about .pill-download {
  height: 44px;
  font-weight: 300;
  line-height: 24px;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  display: inline-block;
  cursor: pointer;
  color: #fafafa;
  background-color: #1ab394;
}

#about .to-contact {
  margin-left: 30px;
}

#about .pill-download:hover {
  background-color: #149e82;
  transition: 0.3s ease-in-out;
}

/* css for skills*/

#skills {
  padding: 48px 0;
}

#skills .container {
  width: 75%;
  margin: 0 auto;
  justify-content: center;
}

.content__group {
  width: 50%;
  margin-bottom: 50px;
}

.content__group-title {
  display: flex;
  justify-content: space-between;
  color: #212529;
  font-size: 14px;
  font-weight: 200;
}

.content__group-skill {
  position: relative;
  width: 95%;
  height: 10px;
  background-color: #e1e1e1;
  top: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.content__group-skill::before {
  display: block;
  content: "";
  position: absolute;
  width: 95%;
  height: 100%;
  background-color: rgb(255, 83, 128);
}

.group__title-percent {
  margin-right: 30px;
}

.group__1 .content__group-skill::before {
  width: 90%;
}

.group__2 .content__group-skill::before {
  background-color: rgb(251, 221, 98);
  width: 85%;
}

.group__3 .content__group-skill::before {
  background-color: rgb(251, 221, 98);
}

.group__4 .content__group-skill::before {
  background-color: rgb(11, 206, 175);
  width: 80%;
}

.group__5 .content__group-skill::before {
  background-color: rgb(11, 206, 175);
  width: 70%;
}

#skills .container_fuild {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 0 15px;
}

/* css for services */

#services {
  padding: 48px 0;
}

#services .container {
  width: 75%;
  margin: 0 auto;
}

#services .boxed {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

#services .services-item {
  width: 380px;
  max-width: 33.333%;
  padding: 0 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

#services .box {
  display: flex;
  border-radius: 20px;
}

#services .box .image img {
  width: 50px;
  height: 50px;
  min-width: 30%;
  margin: 30px 10px 0 10px;
  border-radius: 50%;
}

#services .box .image img:hover {
  transform: rotateY(360deg);
  transition: 0.9s ease;
}

#services .box .text-box {
  width: 70%;
  margin: 25px 0;
  font-weight: 300;
  line-height: 24px;
  /* width: 250px; */
  color: white;
}

#services .boxed .text-box h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 16px;
}

#services .box-yellow h5 {
  color: #3c3c3c;
}

#services .box-yellow p {
  color: #4e4e4e;
}

/* css for portfolio */

#portfolio {
  padding: 48px 0;
}

#portfolio .container {
  width: 75%;
  margin: 0 auto;
}

#portfolio .menu {
  padding: 0 15px 15px 15px;
}

#portfolio .menu ul {
  display: flex;
}

#portfolio .menu li {
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 15px;
  cursor: pointer;
}

#portfolio .menu a {
  color: #4e4e4e;
}

#portfolio .menu li:hover,
#portfolio .menu li:hover a {
  background-color: #1ab394;
  color: white;
}

#portfolio .menu li:active {
  background-color: #1ab394;
  color: white;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.portfolio-item {
  padding: 15px;
  width: 380px;
  max-width: 33.333%;
  box-sizing: border-box;
}

#portfolio .button {
  padding: 20px 15px 0 15px;
  display: flex;
  justify-content: center;
}

#portfolio .btn {
  padding: 10px 30px;
  line-height: 24px;
  background-color: #1ab394;
  color: #fafafa;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

#portfolio .btn-show {
  margin-right: 30px;
}

/* CSS for Get in touch */

#getintouch {
  padding: 48px 0;
  box-sizing: border-box;
}

#getintouch .container {
  width: 75%;
  margin: 0 auto;
}
#getintouch .container .map {
  padding: 0 15px;
}
.map iframe {
  width: 100%;
  height: 450px;
  border-radius: 20px;
}

.contact {
  margin-top: 48px;
  padding: 0 15px;
  display: flex;
}

.contact-list {
  /* padding-right: 15%; */
  width: 33.333%;
  display: flex;
  flex-direction: column;
}

.contact-item {
  display: flex;
}
.contact-item img {
  align-items: center;
  width: 25px;
  margin-right: 0.5rem;
}

.contact-item h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  line-height: 1.618;
  display: flex;
}

.contact-info p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  padding-left: 5px;
  color: #6c757d;
}

/* css for contact */
#contact {
  width: 75%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
#contact .contact-content h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  margin-bottom: 30px;
}
#contact .name-email {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

#contact .name-email .fullname,
#contact .name-email .email {
  width: 48%;
}
.email #email,
.fullname #name {
  width: 100%;
  padding: 15px 5px;
  border: none;
  background-color: #fefefe;
  border-radius: 20px;
  box-shadow: 0 1px 2px gray;
}
.subject {
  width: 100%;
  margin-bottom: 30px;
}
.subject #subject {
  width: 100%;
  padding: 15px 5px;
  border: none;
  background-color: #fefefe;
  border-radius: 20px;
  box-shadow: 1px 1px 2px gray;
}
.message #message {
  width: 100%;
  padding: 10px 5px;
  border: none;
  background-color: #fefefe;
  border-radius: 20px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 2px gray;
}
.button-contact a {
  text-decoration: none;
  padding: 10px 20px;
  color: #fafafa;
  background-color: #1ab394;
  border-radius: 10px;
  cursor: pointer;
}
.button-contact :hover {
  background-color: rgb(3, 110, 96);
}
#contact-form{
  padding: 0 15px;
}
/* css dt */

/* @media only screen and (max-width: 45em) {
    #header {
        background-color: #f8f8f8;
        position: fixed;
        top: 0;
        width: 100%;
    }
    #hero-content .container {
        width: 97%;
        height: 750px;
        padding-bottom: 8px;
        margin: 0 auto;
        flex-direction: column-reverse;
    }
    #hero-content .content-text {
        width: auto;
        text-align: center;
    }
    #hero-content .content-text p {
        width: 100%;
    }
    #hero-content .content-img {
        margin: 0 auto;
    }
    #hero-content .button {
        margin: 0 auto;
    }
    #about .container {
        width: 97%;
        height: 800px;
        flex-direction: column;
    }
    #about .about-content {
        width: auto;
    }
} */
/* css for ipad */
@media only screen and (max-width: 1180px) {
  /* css for hero-content */
  #hero-content {
    padding: 30px 0;
  }

  #hero-content .container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  #hero-content .content-img {
    margin: 0 auto;
  }
  #hero-content .content-text {
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    align-items: center;
  }
  #hero-content .content-text p {
    width: 70%;
    text-align: center;
  }
  /* css for about */
  #about {
    padding: 150px 0 68px 0;
  }
  #about .container {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  #about .about-img {
    width: 100%;
  }
  #about .about-content {
    width: 100%;
    padding-top: 20px;
  }
  #about .persola-info {
    width: 100%;
  }
  #about .persola-info .info {
    width: 40%;
  }
  /* css for skills */
  #skills .container {
    height: auto;
    width: 90%;
  }
  #skills .content__group {
    width: 100%;
  }
  /* css foc services */
  #services .container {
    height: auto;
    width: 90%;
  }
  #services .services-item {
    min-width: 100%;
  }
  #services .services-item .box .text-box {
    width: 100%;
  }
  /* css for portfolio */
  #portfolio .container {
    height: auto;
    width: 90%;
  }
  #portfolio .portfolio-items .portfolio-item {
    min-width: 100%;
  }
  /* css for get in touch */
  #getintouch .container {
    height: auto;
    width: 90%;
  }
  #getintouch .contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  #getintouch .contact-list {
    width: 100%;
    margin-bottom: 40px;
  }
}
